NODE=/usr/local/bin/node
HOME=/home/objelisks
0 * * * * cd $HOME/code/everypunk/ && $NODE --max-old-space-size=512 bot.js
15 * * * * cd $HOME/code/lsystembot/ && $NODE --max-old-space-size=512 bot.js
30 * * * * cd $HOME/code/picobot/ && $NODE --max-old-space-size=512 bot.js
45 * * * * cd $HOME/code/wildflowerbot && $NODE --max-old-space-size=512 bot.js
