NODE=/usr/local/bin/node
HOME=/home/objelisks
0 * * * * cd $HOME/code/everypunk/ && $NODE --max-old-space-size=512 bot.js
15 * * * * cd $HOME/code/lsystembot/ && $NODE --max-old-space-size=512 bot.js
30 * * * * cd $HOME/code/picobot/ && $NODE --max-old-space-size=512 bot.js
45 * * * * cd $HOME/code/wildflowerbot && $NODE --max-old-space-size=512 bot.js
50 */2 * * * cd $HOME/code/nabomamo/1_functionalemoji && $NODE --max-old-space-size=512 bot.js
55 */2 * * * cd $HOME/code/nabomamo/2_pkmn_bonsai && $NODE --max-old-space-size=512 bot.js
5 */2 * * * cd $HOME/code/nabomamo/3_tools_of_the_trade && $NODE --max-old-space-size=512 bot.js
10 */2 * * * cd $HOME/code/nabomamo/5_tiny_nutrition && $NODE --max-old-space-size=512 bot.js
